/* General Styles */
body {
   font-family: Menlo, sans-serif;
   line-height: 1.5;
   color: #333;
   background-color: white;
   margin: 0;
   padding: 20px;
   font-variant-emoji: text;
}

a {
   color: #f2b261;
   text-decoration: none;
}
#resume {
   max-width: 800px;
   background: #f7e8d5;
   padding: 40px;
   margin: auto;
   border-radius: 4px;
   box-shadow: 0 2px 15px rgba(0, 0, 0, 0.35);
}

/* Header */
header {
   text-align: center;
   margin-bottom: 20px;
}

header h1 {
   margin: 0;
   color: #222;
   font-size: 2em;
}

header p {
   margin: 5px 0;
   font-size: 1.1em;
   color: #555;
}

header a {
   color: #f2b261;
   text-decoration: none;
}

header a:hover {
   text-decoration: underline;
}

/* Sections */
section {
   margin-bottom: 20px;
}

h2 {
   color: #222;
   border-bottom: 2px solid #f2b261;
   padding-bottom: 5px;
   margin-bottom: 10px;
}

h3 {
   color: #333;
   margin-bottom: 5px;
}

ul {
   list-style-type: disc;
   padding-left: 20px;
}

li {
   margin: 5px 0;
}

/* Footer */
footer {
   position: static;
   text-align: center;
   padding: 5px;
   font-size: 0.9em;
   background-color: #333;
   color: white;
   border-radius: 0 0 0px 0px;
}

footer a {
   color: #f2b261;
   text-decoration: none;
   margin: 0 5px;
}

footer a:hover {
   text-decoration: underline;
}
